#cta {
  width: 100%;
  min-height: 100vh;
  background-image: url("/src/images/banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

#cta_logo {
  width: 150px;
  height: 100px;
  margin-bottom: 150px;
  margin-top: 30px;
}

#cta_line {
  width: 100%;
  height: 1.5px;
  background-color: var(--color-neutral-0);
}

#cta_high {
  color: var(--color-neutral-0);
  font-size: 2rem;
  margin-left: 8%;
}

#cta_high span {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 2px;
}

#cta_low {
  color: var(--color-neutral-0);
  font-size: 1.3rem;
  display: flex;
  text-align: end;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  margin-right: 8%;
  margin-bottom: 30px;
}

#cta_low p {
  width: 200px;
}

#cta_btn {
  background-color: var(--color-primary-2);
  color: var(--color-neutral-2);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  height: 40px;
  width: 145px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #cta_logo {
    width: 120px;
    height: 100px;
    margin-bottom: 50%;
  }

  #cta_high {
    font-size: 1.2rem;
    margin-left: 7%;
  }

  #cta_high span {
    font-size: 3.6rem;
  }

  #cta_low p {
    font-size: 1rem;
    width: 150px;
    margin: 0 3%;
  }

  #cta_low {
    margin: 0;
    padding: 0;
    gap: 15px;
    width: 100%;
    justify-content: end;
  }
  #cta_btn {
    margin-right: 3%;
  }
}
