footer{
    background-color: var(--color-neutral-2);
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;
    overflow-x: hidden;
    
    
}

#footer_img{
    position:absolute;
    right:0;
    top:0;
    width:52%;
    height:70%;
}

#footer_title{
    color: var(--color-neutral-0);
    font-weight:400;
    font-size: 2.4rem;
    margin-left: 9%;
    line-height: 1.3;
    margin-top: 4%;
    margin-bottom: 2%;
    overflow-y: hidden;
}


.footer-texts{
    color: var(--color-neutral-0);
    margin-left: 9%;
    margin-top:4%;
    font-size:1.3rem;
}

.footer-texts h3{
    margin:17px 0;
}

#social_media{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-items:end;
    bottom:7%;
    right:5%;
    gap:10px;
}

#social_media p{
    color: var(--color-neutral-0);
    font-size:0.8rem;
}

#social_media_buttons{
    display:flex;
   

}

#social_media_buttons button{
    width:40px;
    height:40px;
    background: var(--color-neutral-0);
    border:none;
    border-radius:50%;
    margin-left:5px;
    font-size:1.2rem;
    cursor:pointer;
}

@media screen and (max-width:900px){
    #footer{
        height: 90vh;
    }
  
    #footer_img{
        width:40%;
        height:60%;
        
    }

    #footer_title{
        font-size: 2rem;
        margin-left: 6%;
        margin-top:10%;
        
    }
    
    
    .footer-texts{
       
        margin-left: 6%;
      
        font-size:1.1rem;
    }
}

@media screen and (max-width:550px){
    #footer_img{
        display:none;
    }
}