#page_services {
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#page_content_services {
  background-color: var(--color-neutral-0);
  width: 90%;
  height: 85%;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#page_services_img {
  width: 35%;
  height: 100%;
  transition: transform 0.3s ease;
}

#page_services_img:hover {
  transform: scale(1.1);
}

.obs {
  font-size: 0.7rem;
  color: var(--color-neutral-1);
  position: absolute;
  bottom: 0;
}

#page_services_line {
  width: 107%;
  height: 2px;
  margin: 15px 0 30px 0;
  background-color: var(--color-neutral-2);
}

#page_services_text_1 {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  text-align: start;
  margin-right: 2%;
}

#page_services_text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: start;
  padding: 0% 2% 1% 0;
  position: relative;
}

#page_services_text h1 {
  font-weight: 500;
}

#page_services_button {
  background-color: var(--color-primary-3);
  color: var(--color-neutral-0);
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 1rem;
  padding: 6px 23px;
  cursor: pointer;
  max-width: 270px;
  margin-top: 8vh;
  margin-left: 0;
}

@media screen and (max-width: 1100px) {
  #page_content_services {
    flex-direction: column;
  }

  #page_services_img {
    width: 90%;
    height: 60vh;
    margin-bottom: 40px;
  }

  #page_content_services {
    height: auto;
  }
  #page_services {
    height: auto;
    padding: 3vh 0;
  }

  #page_services_text {
    width: 90%;
    padding: 0;
    min-height: 65vh;
  }

  #page_services_button {
    bottom: 3%;
    right: 35%;
    margin-top: 10vh;
  }

  #page_services_text_1 {
    margin-right: 0%;
  }
}
