#projects {
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#content_projects {
  background-color: var(--color-neutral-0);
  width: 90%;
  height: 85%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#content_projects_img {
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: start;
  width: 60%;
  height: 100%;
  padding: 1%;
  position: relative;
}

#content_projects_img img {
  transition: transform 0.3s ease;
}

#content_projects_img img:hover {
  transform: scale(1.1);
}

.content-img-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  height: 98%;
}

#a,
#d {
  height: 98%;
  width: 33%;
  object-fit: cover;
}

#b,
#c {
  height: 49%;
  width: 100%;
  object-fit: cover;
}

#content_projects_text h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-neutral-1);
  text-align: start;
  margin-right: 25%;
}

#content_projects_text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 1% 1% 2%;
  text-align: end;
  position: relative;
}

#content_projects_text_button {
  background-color: var(--color-primary-3);
  color: var(--color-neutral-0);
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 1rem;
  padding: 6px 16px;
  cursor: pointer;
  max-width: 220px;
}

@media screen and (max-width: 499px) {
  #projects {
    height: auto;
    padding-top: 2vh;
    padding-bottom: 5vh;
  }
  #content_projects {
    flex-direction: column;
    height: auto;
    padding: 0 10px 40px 0;
  }

  #content_projects_text {
    width: 100%;
    height: auto;
    justify-content: space-around;
  }

  #content_projects_text h2 {
    margin: 0%;

    padding: 5% 2% 10vh 2%;
  }

  #content_projects_img {
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    padding-bottom: 55px;
  }

  .content-img-center {
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  #a,
  #d {
    height: 39.8%;
    width: 100%;
  }

  #b,
  #c {
    height: 39.8%;

    width: 100%;
  }
  #voltarBtn {
    display: none;
  }
  #content_projects_text_button {
    margin: 7vh 20px 4vh 20px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  #content_projects {
    flex-direction: column;
    height: auto;
    padding: 5px 5px 10px 5px;

    width: 90%;
  }
  #projects {
    height: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100vw;
  }

  #content_projects_img {
    width: 100%;
    padding-bottom: 40px;
  }

  #voltarBtn {
    display: none;
  }

  .content-img-center {
    width: 100%;
    height: 80vh;
  }

  #a,
  #d {
    height: 80vh;
    width: 33, 3%;
  }

  #b,
  #c {
    height: 39.4vh;
    width: 100%;
  }
  #content_projects_text {
    width: 90%;
    height: auto;
    justify-content: space-around;
  }
  #content_projects_text_1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #content_projects_text_button {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
