@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("cta.css");
@import url("featured.css");
@import url("about.css");
@import url("service.css");
@import url("portfolio.css");
@import url("provided.css");
@import url("testimonials.css");
@import url("links.css");
@import url("ctaSecondary.css");
@import url("footer.css");

@import url("pageProjects.css");
@import url("pageServices.css");
@import url("pagePortfolio.css");

:root {
  --color-primary-1: rgb(255, 247, 228);
  --color-primary-2: #eaeae5;
  --color-primary-3: #000;

  --color-neutral-0: #fff;
  --color-neutral-1: #868686;
  --color-neutral-2: #000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
main {
  width: 100%;
  height: auto;
}
p {
  overflow-y: hidden;
}

body {
  background-color: var(--color-primary-1);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.btn-default {
  background-color: var(--color-primary-2);
  color: var(--color-neutral-2);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 6px 16px;
}

.title-default {
  font-weight: 300;
  font-size: 2.2rem;
  margin-left: 7%;
  line-height: 1.3;
  margin-top: 4%;
  margin-bottom: 2%;
  overflow-y: hidden;
}

.line-default {
  width: 100%;
  height: 1.5px;
  background-color: var(--color-neutral-2);
}

.btn-secondary {
  background-color: var(--color-primary-3);
  color: var(--color-neutral-0);
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 1rem;
  padding: 8px 18px;
  cursor: pointer;
}

.line-secondary {
  height: 100vh;
  width: 1.7px;
  background: var(--color-neutral-2);
  margin: 0px 5px;
}

.obs {
  font-size: 0.7rem;
  color: var(--color-neutral-1);
  position: absolute;
  bottom: 0;
}

.swiper {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff;
  border-radius: 10px;
  display: none;
}

@media (min-width: 901px) and (max-width: 1100px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: flex;
  }

  .btn-default {
    font-size: 1rem;
    padding: 7px 24px;
  }

  .btn-secondary {
    font-size: 1.2rem;
    padding: 9px 20px;
  }
}

#voltarBtn {
  font-size: 2.4rem;
  right: 20px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#voltarBtn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .line-secondary {
    margin-left: 39px;
    margin-top: 50px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: flex;
  }
}
