#testimonials {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

#testimonials_content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
}

#testimonials_left {
  width: 53.7%;
  padding-left: 70px;
  padding-top: 60px;
}

#testimonials_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  text-align: start;
  width: 45%;
  height: 100vh;
  font-size: 1.1rem;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 100px;
}

#testimonials_text p {
  margin-left: 7%;
}

#testimonials_text p {
  color: var(--color-neutral-1);
}
#testimonials_text span {
  color: var(--color-neutral-2);
  font-size: 1rem;
}

.testimonials-list-item {
  font-size: 1.3rem;
}

#testimonials_list {
  margin-left: 15px;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 900px) {
  #testimonials_content {
    flex-direction: column;
  }
  #testimonials_content .line-secondary {
    height: 70vh;
  }

  #testimonials_text {
    position: absolute;
    width: 70%;
    margin-top: 27vh;
    padding: 0;
    margin-left: 15%;
    font-size: 1.2rem;
  }
  #testimonials_list {
    margin-top: 0;
    margin-left: 0;
    height: 70vh;
  }

  #testimonials_left {
    width: 100%;
    padding-left: 5%;
  }

  #testimonials {
    height: auto;
  }
}

@media screen and (max-width: 499px) {
  #testimonials_content {
    flex-direction: column;
  }

  #testimonials_text {
    position: absolute;
    width: 70%;
    margin-top: 35vh;
    padding: 0;
    margin-left: 15%;
    font-size: 1.2rem;
  }
  #testimonials_list {
    margin-top: 0;
    margin-left: 0;
  }

  #testimonials_left {
    width: 100%;
    padding-left: 5%;
  }
}
